<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>gohttp server</title>
    <link rel="shortcut icon" type="image/png" href="/-/res/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/-/res/bootstrap-3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/-/res/font-awesome-4.6.3/css/font-awesome.min.css">
</head>

<body id="app">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Go HTTP File Server</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav">
                        <li><a href="{{.dir}}">{{.dir}}</a></li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Not finished.">
                            <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </form>
                    <ul id="nav-right-bar" class="nav navbar-nav navbar-right">
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Size</th>
                        <th>
                            <center>Actions</center>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="f in files">
                        <td>
                            <a href="/{{f.path}}">
                                <i style="padding-right: 0.5em" class="fa" v-bind:class='genFileClass(f)'></i> {{f.name}}
                            </a>
                        </td>
                        <td>{{f.size}}</td>
                        <td style="text-align: center">
                            <template v-if="f.type == 'file'">
                                <a class="btn btn-default btn-xs" href="/-/raw/{{f.path}}?download=true">
                                    Download <span class="glyphicon glyphicon-download-alt"></span>
                                </a>
                                <a class="btn btn-default btn-xs" v-on:click="genQrcode(f.name)" href="#">
                                    QRCode <span class="glyphicon glyphicon-qrcode"></span>
                                </a>
                            </template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12" id="content">
            <!-- webpack content here -->
            <h1>{{message}}</h1>
            <p><a href="/-/raw/">Explore</a></p>
            <!-- Small qrcode modal -->
            <div id="qrcode-modal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="qrcode-title"></h4>
                        </div>
                        <div class="modal-body">
                            <div id="qrcodeCanvas"></div>
                        </div>
                        <!-- <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
 -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div id="footer" class="pull-right">
                <a href="https://github.com/codeskyblue/gohttp-vue">gohttp-vue</a>, written by <a href="https://github.com/codeskyblue">codeskyblue</a>. 2016. go 1.6
            </div>
        </div>
    </div>
    <script src="/-/res/js/jquery-3.1.0.min.js"></script>
    <script src="/-/res/js/jquery.qrcode.js"></script>
    <script src="/-/res/js/qrcode.js"></script>
    <script src="/-/res/js/vue-1.0.min.js"></script>
    <script src="/-/res/bootstrap-3.3.5/js/bootstrap.min.js"></script>
    <script>
    jQuery('#qrcodeCanvas').qrcode({
        text: "http://jetienne.com/"
    });

    function getExtention(fname) {
        return fname.slice((fname.lastIndexOf(".") - 1 >>> 0) + 2);
    }

    var vm = new Vue({
        el: "#app",
        data: {
            message: "Hello vue.js",
            files: [{
                name: "loading ...",
                path: "",
                size: "...",
                type: "dir",
            }]
        },
        methods: {
            genQrcode: function(text) {
                $("#qrcode-title").html(text);
                var urlPath = location.protocol + "//" + location.host + location.pathname + text;
                $('#qrcodeCanvas').empty().qrcode({
                    text: urlPath
                });
                $("#qrcode-modal").modal("show");
            },
            genFileClass: function(f) {
                if (f.type == "dir") {
                    if (f.name == '.git') {
                        return 'fa-git-square';
                    }
                    return "fa-folder-open";
                }
                var ext = getExtention(f.name);
                switch (ext) {
                    case "go":
                    case "py":
                    case "js":
                    case "java":
                    case "c":
                    case "cpp":
                    case "h":
                        return "fa-file-code-o";
                    case "pdf":
                        return "fa-file-pdf-o";
                    case "zip":
                        return "fa-file-zip-o";
                    case "mp3":
                    case "wav":
                        return "fa-file-audio-o";
                    case "jpg":
                    case "png":
                    case "gif":
                    case "jpeg":
                    case "tiff":
                        return "fa-file-picture-o";
                }
                return "fa-file-text-o"
            },
            changeDir: function(reqPath) {
                window.history.pushState({}, "", reqPath);
            }
        }
    })

    window.onpopstate = function(event) {
        decodeURI(location.pathname)
    }

    $.getJSON("/-/json" + location.pathname, function(res) {
        // console.log(res)
        res.sort(function(a, b) {
            var obj2n = function(v) {
                return v.type == "dir" ? 0 : 1;
            }
            return obj2n(a) - obj2n(b);
        })
        vm.files = res;
    })
    </script>
</body>

</html>
